:root {
    /* boton de validar */
    --primaryColor-bg: #006ebb;
    /* boton de resetear */
    --secundaryColor-bg: #a4abb1;
    /* colores de boton terciario */
    --TertiaryColor-bg: #fff;
    --TertiaryColor-b: #646363;
    /* color del hover a algun boton */
    --keyColor-bg: #797c;
    --keyColor-sb: #666;
    /* boton de herramienta o utilidad */
    --auxBtnColor-bg: #fff;
    --auxBtnColor-b: #e17055;
    /* color del unicode de verificar */
    --checkColor: #fff;
    /* color del unicode de resetear el artefacto */
    --resetColor: black;
    /* color de la clase border dark */
    --borderDark-bg: #fff;
    --borderDark-b: #000000;
    --colorBorder: #696262;
}

.contendor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px 0;
    gap: 20px;
}
.contendorInputs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 20px;
    
}
.contendorEjercio{
    display: flex;
    border: 2px solid #696262;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 50px;
    align-items: center;
    width: 100%;
    border: 2px solid var(--colorBorder);

    
    
}
.contenedorPadre{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width:786px){
        width: 65%;
      }
}

.spanPrincipal{
    width: 60%;
    display: grid;
    grid-template-areas:"punto1 punto2 punto3 punto4 punto5 punto6 punto7 punto8" 
                        "punto9 punto10 punto11 punto12 punto13 punto14 punto15 punto16";
    grid-template-rows: 1 auto;
    height: 100%;
    margin-left: 4%;
    border-right: 2px solid var(--colorBorder);

    
}
.spanSecundario{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid var(--colorBorder);
    width: 20%;
    height: 100%;
}
.spanTerceario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    border-right: 2px solid var(--colorBorder);

}
.contendorPuntos{
    grid-area:punto10 punto11 punto12 punto13 punto15 punto16 punto17 punto18;
    width: 100%;
    height: 100%;
    border: none;
    border-top:  2px solid var(--colorBorder);

    &:last-child{
        border-top: 2px solid var(--borderDark-bg);
    }
}
span{
    grid-area:punto1 punto2 punto3 punto4 punto5 punto6 punto7 punto8 punto9;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    }

.o{
    position: relative;
    top: -30%;
    background-color: var(--borderDark-b);
    border-radius: 50%;
    width: 10px;
    height: 10px;

    
}
.inputValue{
    height: 90%;
    width: 100%;
    border: none;
    text-align: center;
    text-decoration: none;
    &:focus{
        outline: none;
    }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contendorButton{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 4px;
    padding: 5px;
    border: 2px solid var(--colorBorder);
    border-radius: 10px;
    -webkit-border-radius:10px;
    width: 40%;
    @media (min-width:786px){
        width: 25%;
      }
    
}
.contendorButtonTabla{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 4px;
    padding: 5px;
    border: 2px solid var(--colorBorder);
    border-radius: 10px;
    -webkit-border-radius:10px;
    width: 40%;
    margin: auto;
    margin-top: 10px;

}
.styleBtn {
    box-shadow: 0 3px var(--keyColor-sb);
    border-radius: 0.25rem;
    display: inline-block;
    line-height: normal;
    cursor: pointer;
    outline: none;
    height: 40px;
    width: 40px;
  }
  /* cuando se pulsa un boton */
  .styleBtn:active {
    background-color: var(--keyColor-bg);
    box-shadow: 0 2px var(--keyColor-sb);
    transform: translateY(2px);
  }
.btnV ,.btnTableV{
    height: 100%;
    background-color:var(--primaryColor-bg);
}
.btnV::after, .btnTableV::after {
    color: var(--checkColor);
    content: " ✓";
    font-weight: bolder;
    font-size: 26px;
  }
.btnR ,.btnTableR{
    height: 100%;
    background-color: var(--keyColor-sb);
}
.btnR::after ,.btnTableR::after {
    color: var(--resetColor);
    content: "\021bb";
    font-weight: bolder;
    font-size: 26px;
  }

/* estilos dela tabla */

table {
    /* border-collapse: collapse; */
    border-spacing: 0.1px;
    border: 1px;
    font-size: 13px;
    letter-spacing: normal;
    margin: 0 5px;
    
    @media (min-width:786px){
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 500;
        margin: 0;
      }
}

th, td {
    border: 1px solid var(--borderDark-b);
    text-align: center;
    text-transform: capitalize;
    padding: 2px;
    @media (min-width:786px){
        padding: 8px;
      }
  }

.secctionBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.contenedorTablas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.contenedorTabla .contenedorTabla2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.contendorLexico{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    
}
.contendorTitulo{
    width: 55%;
    height: 40px;
    text-align:right;
    /* display: flex;
    align-items: center; */
}
.cotenedorLexico{
    width: 40%;
    text-align: right;
    font-size: 10px;
    @media (min-width:786px){
        font-size: medium;
      }
    
}
.cotenedorLexico2{
    width: 65%;
    text-align: right;
    height: 50px;
    
}
.contenedorParrafo{
    margin: 0 20%;
}
.centro{
    margin: 10px 0;
}
.contendorEjemplo{
    display: flex;
    gap: 2rem;
}
.lexicoH2{
    color: var(--colorBorder);
    text-transform: uppercase;
    font-size: 20px;
    @media (min-width:786px){
        font-size: 1.8rem;
      }
    
}
/* .contenedorParrafo2{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
i{
    font-weight: bold;

}
.padre{
    display: flex;
    margin-bottom: 2rem;
    height: 40px;
}
.hijo{
    display: flex;
    width: 50%;
    outline: 1px solid var(--colorBorder);
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 3px ;
    border: none;
      @media (min-width:786px){
        padding: 0;
      }
}
.textCenter {
    text-align: center;
    font-size: 12px;
    padding: 2px;
  }




